
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px !important;
    color: #ff0000; /* Red color */
}

.delete-button:hover {
    color: #ff6666; /* Light red on hover */
}

.delete-button:focus {
    outline: none; /* Remove focus outline */
}

.shift-container {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: relative;
}
=======
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full height of the viewport */
}

.rbc-row-content {
    min-height: 100px;  /* Adjust based on your preference */
}

.rbc-day-bg {
    min-height: 100px;  /* Adjust based on your preference */
}
